@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Siemreap&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Poppins", serif;
}

.navbar-custome{
    width: 70%;
    height: 60px;
    margin: auto;
}

.nav-parent{
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;

}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
    transition: transform 0.2s ease-in-out;
}
@media (max-width: 768px) {
    .navbar-custome{
        width: 100%;
    }
    .carousel-container {
        width: 100%;
        height: 40vh;
        padding: 0;
    }
    .carousel-inner{
        width: 100%;
    }
    .Best-selling{
        width: 100%;
    }
    .new-product{
        width: 100%;
    }
}